In [1]:
def square(num):
    return num*num

for i in range(1,5):
    res=square(i)
    print("Result is",res)

Result is 1
Result is 4
Result is 9
Result is 16

In [ ]:
def add(n1,n2):
    a=n1+n2
    print("addition:",a)
def sub(n1,n2):
    a=n1-n2
    print("subtraction:",a) 
def div(n1,n2):
    a=n1/n2
    print("division:",a)
def mod(n1,n2):
    a=n1%n2
    print("Modulus:",a)
def mul(n1,n2):
    a=n1*n2
    print("Multiplication:",a)
def sq_add(n1,n2):
    b=n1*n1
    c=n2*n2
    a=b+c
    print("Square and sum:",a)


while(1):
    n1=int(input("Enter num1 "))
    n2=int(input("Enter num2 "))
    print("1.add 2.sub 3.div 4.modulus 5.mult 6.square and sum")
    ch=int(input("Enter the choice"))
    if(ch==1):
        add(n1,n2)
    elif(ch==2):
        sub(n1,n2)
    elif(ch==3):
        div(n1,n2)
    elif(ch==4):
        mod(n1,n2)
    elif(ch==5):
        mul(n1,n2)
    elif(ch==6):
        sq_add(n1,n2)

Enter num1 2
Enter num2 4
1.add 2.sub 3.div 4.modulus 5.mult 6.square and sum
Enter the choice6
Square and sum: 20

In [9]:
#first n natural numbers
def natural():
    for i in range (0,10):
        print(i+1)
      

natural()

1
2
3
4
5
6
7
8
9
10

In [10]:
#fibonacci series
def fibonacci():
    for i range

SyntaxError: invalid syntax (1635894894.py, line 3)

In [2]:
#factorial of first 10 odd numbers
def fact():
    for i in range(1,20,2):
        f=1
        f=f*i
        print(f)

fact()

1
3
5
7
9
11
13
15
17
19

In [5]:
#first 10 even numbers in reverse order
def rev():
    for i in range(20,0,-2):
        print(i)
rev()

20
18
16
14
12
10
8
6
4
2

In [6]:
#arrange numbers in half ascending and half descending order

In [ ]:

import numpy as np
n=int(input("Enter number of elements in an array"))
for i in range (n):
    a=np.array(input("Enter the array "))
    print(a)

Enter number of elements in an array5
Enter the array 3 4 555 62 12
3 4 555 62 12

In [2]:
#multiplication table

def table(n1):
    for i in range(1,10):
        p=n1*i
        print(n1,"*",i,"=",p)
        
n1=int(input("Enter the number"))
table(n1)

Enter the number7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [2]:
#get average of input numebers

import numpy as np
def avg(arr):
    #s=0
    for i in range (arr):
        s=s+i
        avg=float(s/10)
    print("Average is",avg)

arr=np.array(input("Enter the array "))
avg(arr)

Enter the array 78 87 8 8  6 7 877  99  877

TypeError: only integer scalar arrays can be converted to a scalar index

In [12]:
#display numbers divisible by 11 but not by 2 between 100 and 500

def div_11_n2():
    for i in range (100,500):
        if((i%2!=0) & (i%11==0)):
           print(i)
        
div_11_n2()

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
#until user enters 00. display factorial of entered numbers
import numpy as np
lst1=[]
while(1):
    
    n=int(input("Enter the number "))
    if(n=='00'):
        break
    else:
        lst1.append(n)
        print(lst1)

Enter the number 6
[6]
Enter the number 90
[6, 90]
Enter the number 0
[6, 90, 0]
Enter the number 8
[6, 90, 0, 8]